{% extends('FSBASTTFrontBundle::layout.html.twig') %}


{% block main %}
    <div class="main_container">
        <div class="speed-nav-container centered text-center">
            <h2>Navigation rapide</h2>
            <div class="speed-nav">
                <a class="btn btn-primary" href="{{ path('FSBASTTFrontBundle_club_tournamentpage') }}" title="Voir les informations sur le trophée national">Trophée National - Tournoi d'Amiens</a>
                <a class="btn btn-primary" href="{{ path('FSBASTTFrontBundle_teamspage') }}" title="Suivre le championnat par équipe [{{ sport_season }}]">Championnat par équipe</a>
                <a class="btn btn-primary" href="{{ path('FSBASTTFrontBundle_tournamentspage') }}" title="Suivre les autres compétitions">Autres compétitions</a>
            </div>
        </div>
            
        <h1 class="page_title">{{ page_title }}</h1>
        
        <div class="content">
            <div class="alerts">
                {% for key, message in app.session.getFlashes() %}
                    <div class="alert alert-{{ key }}">
                        <a class="close" data-dismiss="alert">×</a>
                        <h4>{{ key|title }}!</h4>
                        <p>{{ message }}<p>
                    </div>
                {% endfor %}
            </div>
            {% block content %}
                {% for key, element in news %}
                    {% if key < 6 %}
                        {% if ((key in [0, 2]) or ((key == 4) and (key != (news|length) - 1))) %}
                            <div class="news_row">
                        {% endif %}
                                <div class="news news_{{ key }} well">
                                    <h4 class="news_title">{{ element.title }}</h4>
                                    <h5 class="news_infos">
                                        {% if element.date %}Le {{ element.date|date('d-m-Y') }}
                                            {% if element.place %} - {{ element.place|capitalize }}{% endif %}
                                        {% else %}
                                            {% if element.place %}{{ element.place|title }}{% endif %}
                                        {% endif %}
                                    </h5>
                                    {% if element.presentation == 1 %}
                                        {% if element.screen %}
                                            <img class="news-img-center" src="{{ asset('images/news/' ~ element.screen) }}" alt="Visuel de l'actualité" />
                                        {% endif %}
                                    {% elseif element.presentation == 2 %}
                                        {% if element.screen %}
                                            <img class="news-img-left" src="{{ asset('images/news/' ~ element.screen) }}" alt="Visuel de l'actualité" />
                                        {% endif %}
                                    {% elseif element.presentation == 3 %}
                                        {% if element.screen %}
                                            <img class="news-img-right" src="{{ asset('images/news/' ~ element.screen) }}" alt="Visuel de l'actualité" />
                                        {% endif %}
                                    {% endif %}
                                    <p class="news_description">
                                        {% if element.description|length > 250 %}
                                            {{ element.description|slice(0, 250)|e('html')|nl2br }}[...]
                                        {% else %}
                                            {{ element.description|e('html')|nl2br }}
                                        {% endif %}
                                    </p>
                                    <span class="news_links">
                                        <a class="btn btn-info" href="{{ path('FSBASTTFrontBundle_newspage', { 'id': element.id }) }}">Voir la suite</a>
                                        {% if element.weBestPlayer %}
                                            <a class="btn btn-info" href="{{ path('player_show', { 'id': element.weBestPlayer.id } ) }}">Voir le joueur</a>
                                        {% endif %}
                                    </span>
                                </div>
                        {% if ((key in [1, 3]) or ((key == 5) or (key == (news|length) - 1))) %}    
                            </div>
                        {% endif %}
                    {% elseif key == 6 %}
                        <ul class="other_news_links">
                    {% elseif key == (news|length) - 1 %}    
                        </ul>
                    {% else %}
                        <li><a href="{{ path('news_show', { 'id': element.id }) }}" title="Voir la suite">{{ element.title|title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>
        <div class="spacer"></div>
    </div>
{% endblock %}

{% block footer %}
    <ul id="footerTab" class="nav nav-tabs">
        <li class="centered active"><a href="#events" data-toggle="tab">A venir</a></li>
        <li class="centered"><a href="#news" data-toggle="tab">News - Archives</a></li>
        <!--<li class="centered"><a href="#medias" data-toggle="tab">En images</a></li>-->
        <li class="centered"><a href="#themes" data-toggle="tab">Thèmes</a></li>
    </ul>
    <div id="footerTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="events">
            {% block footer_events %}
                <div class="events_list well">
                    <ul class="events_links">
                        {% for key, event in footer_events %}
                            {% if event.isTournament %}
                                <li><a class="footer_event_link" href="{{ path('FSBASTTFrontBundle_club_tournamentpage') }}" title="Voir l'événement">{{ event.title|capitalize }}</a></li>
                            {% else %}
                                <li><a class="footer_event_link" href="{{ path('FSBASTTFrontBundle_eventspage', { 'id': event.id }) }}" title="Voir l'événement">{{ event.title|capitalize }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer_calendar">
                    <table class="table table-stripped table-condensed table-bordered">
                        <caption>{{ footer_calendar.name }}</caption>
                        <thead>
                            <tr>
                                <th>L</th>
                                <th>M</th>
                                <th>M</th>
                                <th>J</th>
                                <th>V</th>
                                <th>S</th>
                                <th>D</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for semaine, jours in footer_calendar.events %}
                                <tr>
                                    {% for ind, jour in jours %}
                                        {% if jour|length > 2 %}
                                            {% if jour['events']|length > 0 %}
                                                <td><a title="{% for event in jour['events'] %}{{ event.title }}{% if loop.last != true %}{{ '\n' }}{% endif %}{% endfor %}" href="{{ path('FSBASTTFrontBundle_event_day_page', { 'day':jour['starttime']|date('d') , 'month':jour['starttime']|date('m') , 'year':jour['starttime']|date('y') }) }}">{{ ind }}</a></td>
                                            {% else %}
                                                <td>{{ ind }}</td>
                                            {% endif %}
                                        {% else %}
                                            <td class="grey">{{ jour }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endblock %}
        </div>
        <!--
        <div class="tab-pane fade" id="medias">
            {% block footer_medias %}
                <div class="coverflow well centered">
                    
                </div>
            {% endblock %}
        </div>
        -->
        <div class="tab-pane fade" id="news">
            {% block footer_news %}
                <div class="footer_news well">
                    <ul class="news-links">
                    {% for key, news in footer_news %}
                        <li><a href="{{ path('FSBASTTFrontBundle_newspage', { 'id': news.id }) }}">{{ news.title|capitalize }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="footer-archive-link well">
                    <p>Vous désirez voir plus d'actualités ?</p>
                    <a class="btn btn-info" href="{{ path('FSBASTTFrontBundle_news_archivepage') }}">Voir les archives</a>
                </div>
            {% endblock %}
        </div>
        <div class="tab-pane fade" id="themes">
            {% block footer_themes %}
                <div class="footer_themes well centered">
                    {% for key, theme in footer_themes %}
                        <div class="theme">
                            <a class="" href="{{ path('FSBASTTFrontBundle_themepage', { 'name': theme|lower }) }}" title="Changer le thème du site en : {{ theme }}">{{ theme|upper }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}