{% extends('::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="{{ asset('bundles/fsbasttfront/css/bootstrap/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="{{ asset('bundles/fsbasttfront/css/bootstrap/bootstrap-datepicker.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="{{ asset('bundles/fsbasttfront/css/bootstrap/themes/' ~ css_theme ~ '.bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="{{ asset('bundles/fsbasttfront/css/template.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="{{ asset('bundles/fsbasttfront/css/design.css') }}" />
{% endblock %}

{% block header %}
    <h1><a href="{{ path('FSBASTTFrontBundle_homepage') }}" title="Revenir à l'accueil">Amiens Sport Tennis de Table</a></h1>
    <div class="header_links">
        <div class="pull-left">
        
        </div>
        <div class="pull-right">
            <a href="{{ path('FSBASTTFrontBundle_accesspage') }}">
                <div class="header-address">
                    <i class="header-address-icon icon-white icon-map-marker"></i>
                    <div class="header-address-street">304 rue Gauthier de Rumilly</div>
                    <div class="header-address-city">80000 AMIENS</div>
                </div>
            </a>
            <div class="header-contact">03 22 89 74 30</div>
            <a class="mailto" href="mailto:astt@wanadoo.fr">astt@wanadoo.fr</a>
        </div>
    </div>
{% endblock %}

{% block class_nav %}navbar{% endblock %}

{% block nav %}
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav front-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Club <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_presentationpage') }}"><i class="icon-pencil"></i> Présentation</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_accesspage') }}"><i class="icon-move"></i> Plan d'accès</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_historiquepage') }}"><i class="icon-list"></i> Historique</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sportif <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_training_schedulepage') }}"><i class="icon-time"></i> Horaires</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_training_pricespage') }}"><i class="icon-question-sign"></i> Tarifs</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_babypingpage') }}"><i class="icon-info-sign"></i> Babyping</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_handisportpage') }}"><i class="icon-info-sign"></i> Handisport</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compétitions <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_teamspage') }}"><i class="icon-user"></i> Championnat par équipes</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_playerspage') }}"><i class="icon-user"></i> Joueurs</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_tournamentspage') }}"><i class="icon-ok-circle"></i> Compétitions</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_calendarpage') }}"><i class="icon-calendar"></i> Calendrier</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_club_tournamentpage') }}"><i class="icon-info-sign"></i> Tournoi d'Amiens</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multimédia <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_medias_photopage') }}"><i class="icon-camera"></i> Album Photo</a></li>
                            <!--<li><a href="{{ path('FSBASTTFrontBundle_medias_videopage') }}"><i class="icon-play-circle"></i> Vidéos</a></li>-->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Communication <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_guestbook_page') }}"><i class="icon-comment"></i> Livre d'or</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_interviewspage') }}"><i class="icon-facetime-video"></i> Interviews</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_linkspage') }}"><i class="icon-share-alt"></i> Liens</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_partnerspage') }}"><i class="icon-retweet"></i> Partenaires</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_articlespage') }}"><i class="icon-file"></i> Articles de presse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block class_main %}well container-fluid{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fsbasttfront/js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fsbasttfront/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fsbasttfront/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fsbasttfront/js/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fsbasttfront/js/main.js') }}"></script>
{% endblock %}