{% extends('::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="{{ asset('bundles/fsbasttfront/css/bootstrap/themes/' ~ css_theme ~ '.bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="{{ asset('bundles/fsbasttfront/css/template.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="{{ asset('bundles/fsbasttfront/css/design.css') }}" />
{% endblock %}

{% block header %}
    {{ parent() }}
    <div class="header_links">
        <span class="pull-left"><a class="btn btn-inverse" href="{{ path('FSBASTTFrontBundle_accesspage') }}">Trouver la salle</a></span>
        <span class="pull-right"><a class="btn btn-inverse" href="mailto:astt@wanadoo.fr">astt@wanadoo.fr</a></span>
    </div>
{% endblock %}

{% block class_nav %}navbar{% endblock %}

{% block nav %}
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav front-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Club <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_presentationpage') }}"><i class="icon-pencil"></i> Présentation</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_accesspage') }}"><i class="icon-move"></i> Plan d'accès</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_historiquepage') }}"><i class="icon-list"></i> Historique</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sportif <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_training_schedulepage') }}"><i class="icon-time"></i> Horaires</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_training_pricespage') }}"><i class="icon-question-sign"></i> Tarifs</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_babypingpage') }}"><i class="icon-info-sign"></i> Babyping</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_handisportpage') }}"><i class="icon-info-sign"></i> Handisport</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compétitions <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_teamspage') }}"><i class="icon-user"></i> Equipes</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_tournamentspage') }}"><i class="icon-ok-circle"></i> Compétitions</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_calendarpage') }}"><i class="icon-calendar"></i> Calendrier</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_club_tournamentpage') }}"><i class="icon-info-sign"></i> Tournoi d'Amiens</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multimédia <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_medias_photopage') }}"><i class="icon-camera"></i> Album Photo</a></li>
                            <!--<li><a href="{{ path('FSBASTTFrontBundle_medias_videopage') }}"><i class="icon-play-circle"></i> Vidéos</a></li>-->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Communication <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('FSBASTTFrontBundle_guestbook_page') }}"><i class="icon-comment"></i> Livre d'or</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_interviewspage') }}"><i class="icon-facetime-video"></i> Interviews</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_linkspage') }}"><i class="icon-share-alt"></i> Liens</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_partnerspage') }}"><i class="icon-retweet"></i> Partenaires</a></li>
                            <li><a href="{{ path('FSBASTTFrontBundle_articlespage') }}"><i class="icon-file"></i> Articles de presse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block class_main %}well container-fluid{% endblock %}

{% block footer %}
    <ul id="footerTab" class="nav nav-tabs">
        <li class="centered active"><a href="#events" data-toggle="tab">A venir</a></li>
        <li class="centered"><a href="#medias" data-toggle="tab">En images</a></li>
        <li class="centered"><a href="#themes" data-toggle="tab">Thèmes</a></li>
    </ul>
    <div id="footerTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="events">
            {% block footer_events %}
                <div class="events_list well">
                    <ul class="events_links">
                        {% for key, event in footer_events %}
                            {% if event.isTournament %}
                                <li><a class="footer_event_link" href="{{ path('FSBASTTFrontBundle_club_tournamentpage') }}" title="Voir l'événement">{{ event.title|capitalize }}</a></li>
                            {% else %}
                                <li><a class="footer_event_link" href="{{ path('FSBASTTFrontBundle_eventspage', { 'id': event.id }) }}" title="Voir l'événement">{{ event.title|capitalize }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer_calendar">
                    <table class="table table-stripped table-condensed table-bordered">
                        <caption>{{ footer_calendar.name }}</caption>
                        <thead>
                            <tr>
                                <th>L</th>
                                <th>M</th>
                                <th>M</th>
                                <th>J</th>
                                <th>V</th>
                                <th>S</th>
                                <th>D</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for semaine, jours in footer_calendar.events %}
                                <tr>
                                    {% for ind, jour in jours %}
                                        {% if jour|length > 2 %}
                                            {% if jour['events']|length > 0 %}
                                                <td><a title="{% for event in jour['events'] %}{{ event.title }}{% if loop.last != true %}{{ '\n' }}{% endif %}{% endfor %}" href="{{ path('FSBASTTFrontBundle_event_day_page', { 'day':jour['starttime']|date('d') , 'month':jour['starttime']|date('m') , 'year':jour['starttime']|date('y') }) }}">{{ ind }}</a></td>
                                            {% else %}
                                                <td>{{ ind }}</td>
                                            {% endif %}
                                        {% else %}
                                            <td class="grey">{{ jour }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endblock %}
        </div>
        <div class="tab-pane fade" id="medias">
            {% block footer_medias %}
                <div class="coverflow well centered">
                    
                </div>
            {% endblock %}
        </div>
        <div class="tab-pane fade" id="themes">
            {% block footer_themes %}
                <div class="footer_themes well centered">
                    {% for key, theme in footer_themes %}
                        <div class="theme">
                            <a href="{{ path('FSBASTTFrontBundle_themepage', { 'name': theme|lower }) }}" title="">{{ theme|upper }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fsbasttfront/js/main.js') }}"></script>
{% endblock %}