{% extends('FSBASTTFrontBundle::template.news.html.twig') %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <table class="records_list table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Voir</th>
                <th>Télécharger</th>
            </tr>
        </thead>
        <tbody>
            {% for letter in letters %}
                <tr>
                    <td>{{ letter.title|capitalize }}</td>
                    <td>{% if letter.date %}{{ letter.date|date('d/m/Y') }}{% endif%}</td>
                    <td><a href="{{ asset('files/letters/' ~ letter.file) }}" target="_blank">ASTT-Lettre-{{ letter.title }}</a></td>
                    <td><a href="{{ path('FSBASTTFrontBundle_letters_downloadpage', { 'id': letter.id }) }}">Télécharger</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}