{% extends('FSBASTTFrontBundle::template.news.html.twig') %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <table class="records_list table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Sujet</th>
                <th>Date</th>
                <th>Voir</th>
                <th>Télécharger</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title|capitalize }}</td>
                    <td>{{ article.subject|capitalize }}</td>
                    <td>{% if article.date %}{{ article.date|date('d/m/Y') }}{% endif%}</td>
                    <td><a class="btn btn-primary" href="{{ asset('files/articles/' ~ article.file) }}" target="_blank">ASTT-Article-{{ article.title }}</a></td>
                    <td><a class="btn btn-primary" href="{{ path('FSBASTTFrontBundle_downloadpage', { 'id': article.id }) }}">Télécharger</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}