{% extends('FSBASTTAdminCrudBundle::layout.html.twig') %}

{% block main %}
    <h1>Liste des actualités</h1>

    <a class="btn btn-primary" href="{{ path('news_new') }}">Ajouter une actualité</a>
    
    <table class="records_list table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Début de publication</th>
                <th>Fin de publication</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Mise en page</th>
                <th>Visuel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('news_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.starttime %}{{ entity.starttime|date('d/m/Y H:i:s') }}{% endif%}</td>
                <td>{% if entity.endtime %}{{ entity.endtime|date('d/m/Y H:i:s') }}{% endif%}</td>
                <td>{{ entity.title|capitalize }}</td>
                <td>{{ entity.description[0:300]|e('html')|nl2br }}[...]</td>
                <td>{{ entity.place }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d/m/Y H:i:s') }}{% endif%}</td>
                <td>{{ entity.presentation }}</td>
                <td>{{ entity.screen }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('news_show', { 'id': entity.id }) }}">Détail</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('news_edit', { 'id': entity.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a class="btn btn-primary" href="{{ path('news_new') }}">Ajouter une actualité</a>
{% endblock %}