{% extends('FSBASTTAdminCrudBundle::layout.html.twig') %}

{% block main %}
    <h1>Liste des joueurs</h1>
    
    <table class="records_list table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Licence</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthday</th>
                <th>Civility</th>
                <th>Category</th>
                <th>Points</th>
                <th>Classement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.licence }}</td>
                <td>{{ entity.firstname|title }}</td>
                <td>{{ entity.lastname|upper }}</td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('d/m/Y') }}{% endif%}</td>
                <td>{{ entity.civility }}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.points }}</td>
                <td>{{ entity.classement }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('player_show', { 'id': entity.id }) }}">Détail</a>
                        </li>
                        <li>
                            <a href="{{ path('player_edit', { 'id': entity.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a class="btn btn-primary" href="{{ path('player_new') }}">Ajouter un joueur</a>
{% endblock %}