{% extends('FSBASTTAdminCrudBundle::layout.html.twig') %}

{% block main %}
    <h1>Liste des messages</h1>

    <table class="records_list table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Posté le</th>
                <th>Auteur</th>
                <th>Club</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entityIndex, entity in entities %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('d/m/Y H:i:s') }}{% endif%}</td>
                <td>{{ entity.author }}</td>
                <td>{{ entity.club }}</td>
                <td>{{ entity.description[0:300]|e('html')|nl2br }}[...]</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('message_show', { 'id': entity.id }) }}">Détail</a>
                        </li>
                        <li>
                            <form action="{{ path('message_delete', { 'id': entity.id }) }}" method="post">
                                {{ form_widget(delete_forms[entityIndex]) }}
                                <button type="submit" class="btn btn-link">Supprimer</button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}