{% extends('FSBASTTAdminCrudBundle::layout.html.twig') %}

{% block main %}
    <h1>Edition d'un événement</h1>

    <form action="{{ path('event_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <button class="btn btn-success" type="submit">Editer</button>
    </form>

    <ul class="record_actions">
        <li>
            <a class="btn btn-info" href="{{ path('event') }}">Revenir à la liste</a>
        </li>
        <li>
            <form action="{{ path('event_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-warning" type="submit">Supprimer</button>
            </form>
        </li>
    </ul>
{% endblock %}