{% extends('FSBASTTFrontBundle::template.news.html.twig') %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <table class="table table-stripped table-bordered table-condensed table-content">
        <tbody>
            {% for civility, teams in teamsArray %}
                {% if civility == 'W' %}
                    {% set civilityName = 'Féminines' %}
                {% elseif civility == 'Y' %}
                    {% set civilityName = 'Jeunes' %}
                {% else %}
                    {% set civilityName = 'Masculines' %}
                {% endif %}
                    <tr>
                        <th class="table_team_header" colspan="4">Equipes {{ civilityName }}</th>
                    </tr>
                    <tr>
                        <th>Equipe</th>
                        <th>Division</th>
                        <th>Capitaine</th>
                        <th>Lien fftt.com</th>
                        <th>Voir la composition</th>
                        <th>Voir les résultats</th>
                    </tr>
                {% for team in teams %}
                    <tr>
                        <td>{{ team }}</td>
                        <td>{{ team.division }}</td>
                        <td>{{ team.leader }}</td>
                        <td><a class="btn btn-info" target="_blank" title="Voir les résultats" href="{{ team.officialLink }}">Lien officiel</a></td>
                        <td><a class="btn btn-primary" href="{{ path('FSBASTTFrontBundle_teams_showpage', { 'id': team.id }) }}">Composition</a></td>
                        <td><a class="btn btn-primary" href="{{ path('FSBASTTFrontBundle_teams_resultspage', { 'id': team.id }) }}">Résultats</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}