{% extends('FSBASTTAdminCrudBundle::layout.html.twig') %}

{% block main %}
    <h1>Link</h1>
    
    <div class="link display-single centered">
        <h3>{{ entity.title|capitalize }}</h3>
        <h4>{{ entity.category }}</h4>
        <a class="btn btn-info" href="{{ entity.url }}" target="_blank">{{ entity.url }}</a>
    </div>
    
    <ul class="record_actions">
        <li>
            <a class="btn btn-info" href="{{ path('link') }}">Revenir à la liste</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('link_edit', { 'id': entity.id }) }}">Editer</a>
        </li>
        <li>
            <form action="{{ path('link_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-warning" type="submit">Supprimer</button>
            </form>
        </li>
    </ul>
{% endblock %}